body {
    padding-top: 65px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
}

.svg-footer {
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 768px) {
    .card-img-top {
        height: 30vw;
    }
}

@media only screen and (max-width: 374px) {
    .mb-xsm-1 {
        margin-bottom: 0.25rem !important;
    }
}

@media only screen and (max-width: 330px) {
    .svg-footer {
        width: 16px;
        height: 16px;
    }
}

.cover-img {
    object-fit: cover;
}

div#projects:before, div#aboutme:before, div#skills:before, div#top:before {
    display: block;
    height: 65px;
    margin-top: -65px;
    visibility: hidden;
    content: "";
}

.mr-after {
    margin-right: 0.5rem;
}

footer {
    padding-top: 17px;
    padding-bottom: 17px;
}